.top{
  background-color:cadetblue;   
}

a{
    color: gainsboro;
    text-decoration: underline;   
}
.skillset{
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}
.headline{
    font-size: 1.10em;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    
}

.title{
    font-weight: bold;  
    margin: 1em;
}

.link{
    color: cadetblue;
    text-decoration: underline; 
    font-weight: 500;
}
.lang{

    margin-left: 2rem;  
}
.pic{
  
    margin: 10%;  
    margin-left: 20%;
}
.caption{
    margin-right: 10%;  
    margin-top: 5%;
    
}

.nav-link{
    font-size: x-large;  
    letter-spacing: 0.15rem;
}

.name{
    font-size: 2em;
    letter-spacing: 0.15em;
    word-spacing: 1em;
    margin-right: 5%;
    margin-left: 5%;
    
}
.dropdown-container {
  position: relative;
  margin-right: 5%;
}
.dropdown-menu {
  position: absolute;
  top: 100%; 
  right: 0;
  margin-left: -1em; /* More to the left */
}
.container-fluid{
    margin-top: 5.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

.about{
    min-width: 5em;
}
.item{
    display: b
}