.top{
  background-color:cadetblue;   
}

a{
    color: gainsboro;
    text-decoration: underline;   
}

hr.style1{
    border-top: 1px solid #000000;   
}

.headline{
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 1em;
    margin-left: 1em;
    
}

.resumeSec{
    padding-left: 1em;
   
}
.title{
    font-weight: bold;    
}

.link{
    color: cadetblue;
    text-decoration: underline; 
    font-weight: 500;
}
.lang{
    margin-bottom: -0.25em;
    margin-left: 2em;  
}
.pic{
  
    margin: 10%;  
    margin-left: 15%;
}
.caption{
    margin-right: 10%;  
    
    
}

.nav-link{
    font-size: x-large;  
    letter-spacing: 0.15em;
}

.name{
    font-size: 2em;
    letter-spacing: 0.15em;
    word-spacing: 1em;
    margin-right: 5%;
    margin-left: 5%;
    
}
.dropdown-container {
  position: relative;
  margin-right: 5%;
}
.dropdown-menu {
  position: absolute;
  top: 100%; 
  right: 0;
  margin-left: -1em; /* More to the left */
}
.container-fluid{
    margin-top: 5.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

.about{
    min-width: 5em;
}